{% extends "layouts/base.twig" %}

{% block title %}
	<title>Ecole Saint-Mathieu</title>
{% endblock %}

{% block main %}
	<div class="flex flex-col items-center px-4 gap-6">
		<h1 class="text-center font-bold text-3xl text-[#304a4d] mb-0">
			Bienvenue à l'Ecole Saint-Mathieu
		</h1>
		<h2 class="text-lg text-center text-[#304a4d] mb-6">
			L'école Saint-Mathieu est un établissement scolaire privé situé à Marseille Château Gombert, offrant une éducation de qualité aux élèves de la maternelle au primaire.
		</h2>
	</div>
	<div class="carousel w-full">
		<div id="slide1" class="carousel-item relative w-full">
			<img src="/assets/images/20250326_114849.jpg" class="w-full h-160 object-cover"/>
			<div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
				<a href="#slide4" class="btn btn-circle">❮</a>
				<a href="#slide2" class="btn btn-circle">❯</a>
			</div>
		</div>
		<div id="slide2" class="carousel-item relative w-full">
			<img src="/assets/images/20250326_114954.jpg" class="w-full h-160 object-cover"/>
			<div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
				<a href="#slide1" class="btn btn-circle">❮</a>
				<a href="#slide3" class="btn btn-circle">❯</a>
			</div>
		</div>
		<div id="slide3" class="carousel-item relative w-full">
			<img src="/assets/images/20250514_114720.jpg" class="w-full h-160 object-cover"/>
			<div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
				<a href="#slide2" class="btn btn-circle">❮</a>
				<a href="#slide4" class="btn btn-circle">❯</a>
			</div>
		</div>
		<div id="slide4" class="carousel-item relative w-full">
			<img src="/assets/images/47d2b2f0-69d4-4913-b80c-5da660a12e2e.jpg" class="w-full h-160 object-cover"/>
			<div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
				<a href="#slide1" class="btn btn-circle">❮</a>
				<a href="#slide3" class="btn btn-circle">❯</a>
			</div>
		</div>
	</div>

{% endblock %}

{% block scripts %}
	<script>
		document.addEventListener('DOMContentLoaded', function () {
const carousel = document.querySelector('.carousel');
const items = document.querySelectorAll('.carousel-item');
let index = 0;
setInterval(() => {
index = (index + 1) % items.length;
carousel.scrollLeft = items[index].offsetLeft;
}, 3000);
});
	</script>
{% endblock %}
