<header class="w-full bg-base-150">
	<nav
		class="navbar w-full px-8">
		<!-- Logo à gauche -->
		<div class="flex-none">
			<a href="/" class="flex items-center gap-5">
				<img src="/assets/images/testimage.jpg" alt="Logo École" class="h-30 w-auto mt-4"/>
				<span class="text-xl font-bold text-[#304a4d]"></span>
			</a>
		</div>
		<!-- Menu centré -->
		<div class="flex-1 flex justify-center">
			<ul
				class="menu menu-horizontal px-1 text-xl">
				{# Ajoute text-xl ici #}
				<li>
					<a href="/">Présentation</a>
				</li>
				<li>
					<a href="/">Infos pratiques</a>
				</li>
				<li>
					<a href="">Actus</a>
				</li>
				<li>
					<a href="">Classes</a>
				</li>
				<li>
					<a href="">Agendas</a>
				</li>
				<li>
					<a href="">Restauration</a>
				</li>
				<li>
					<a href="">Apel</a>
				</li>
				<li>
					<a href="">Contact</a>
				</li>
			</ul>
		</div>
		<!-- Burger à droite -->
		<div class="flex-none">
			<button
				class="btn btn-square btn-ghost text-xl">
				{# Ajoute text-xl ici #}
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" class="inline-block h-7 w-7 stroke-current">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
				</svg>
			</button>
		</div>
	</nav>
</header>
