<header>
	<nav class="container mx-auto px-8 py-6">
		<div class="flex justify-center items-center">
			<div class="flex flex-nowrap items-center justify-center gap-x-12">

				<div class="navbar bg-base-100 shadow-sm" rounded-xl >
					<div class="flex-none">
						<button class="btn btn-square btn-ghost">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" class="inline-block h-5 w-5 stroke-current">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
							</svg>
						</button>
					</div>
					<div class="flex-1">
						<a href="/" class="btn btn-ghost text-xl text-[#304a4d] hover:text-[#4c9583] transition-colors font-medium p-4">
							Accueil
						</a>
					</div>
					<div class="flex-none">
					<nav><ul class="menu menu-horizontal px-1">
							<li>
								<a href="/">Présentation</a>
							</li>
							<li>
								<a href="/">Infos pratiques</a>
							</li>
							<li>
								<a href="">Actus</a>
							</li>
							<li>
								<a href="">Classes</a>
							</li>
							<li>
								<a href="">Agendas</a>
							</li>
							<li>
								<a href="">Restauration</a>
							</li>
							<li>
								<a href="">Apel</a>
							</li>
							<li>
								<a href="">Contact</a>
							</li>
						</ul></nav>
						
					</div>
				</div>

			</div>
		</div>
	</nav>
</header>
