{% extends "layouts/admin.twig" %}

{% block title %}TEST GALERIE
{% endblock %}

{% block content %}
	<div style="background: lime; color: black; padding: 50px; text-align: center; font-size: 30px;">
		🟢 PAGE GALERIE ADMIN FONCTIONNE ! 🟢
		<br><br>
		Si vous voyez ce message, le problème est résolu !
	</div>
{% endblock %}
