<!DOCTYPE html>
<html lang="fr" data-theme="cupcake" class="h-full">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

		<link href="https://unpkg.com/flowbite@2.2.1/dist/flowbite.min.css" rel="stylesheet">
		<link href="/assets/css/tailwind.css" rel="stylesheet">
		<link rel="stylesheet" href="/assets/css/style.css"> {% block title %}{% endblock %}
		</head>
		<body class="bg-[#a7e3dd] shadow-xl w-full sticky top-0 z-20 font-poppins">
			{% include "partials/header.twig" %}
			<main class="flex-1"> {% block main %}{% endblock %}
				</main>

				{% include "partials/footer.twig" %}
				<script src="https://unpkg.com/flowbite@2.2.1/dist/flowbite.min.js"></script>
				<script src="/assets/js/app.js"></script>
			</body>
		</html>
